@charset "utf-8";
/* CSS Document */
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%;  }

/**/
html {
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    -webkit-overflow-scrolling: touch;
}
body {
	font-size: 14px;
	color: #222;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
	/*-webkit-overflow-scrolling: touch;*/
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*    Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

.form-control:focus { box-shadow: none; }

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{ box-shadow: none; }

/*****************************/
/******* Custom Css **********/
/*****************************/

/* general css */

.btn.btn-primary.btn-readmore-big { padding: 12px 50px; border-radius: 0px; background-color: #73A31A; border: 1px solid #73A31A; font-size: 23px; line-height: 34px; height: 60px; }
.btn.btn-primary.btn-readmore-big:hover, .btn.btn-primary.btn-readmore-big:focus{ background-color: #734C28; border: 1px solid #734C28; box-shadow: none; }

.btn.btn-primary.btn-readmore { padding: 12px 40px; border-radius: 0px; background-color: #73A31A; border: 1px solid #73A31A;  font-size: 20px; line-height: 27px; height: 52px; }
.btn.btn-primary.btn-readmore:hover, .btn.btn-primary.btn-readmore:focus{ background-color: #734C28; border: 1px solid #734C28; box-shadow: none; }

.btn.btn-primary.btn-readmore2 { padding: 12px 40px; border-radius: 0px; background-color: #734C28; border: 1px solid #734C28; font-size: 20px; line-height: 27px; height: 52px; }
.btn.btn-primary.btn-readmore2:hover, .btn.btn-primary.btn-readmore:focus{ background-color: #fff; border: 1px solid #E07B1F; color:#E07B1F;  box-shadow: none; }

.btn.btn-primary.btn-primary2{ background-color: #E07B1F; border: 1px solid #E07B1F; color: #fff; }
.btn.btn-primary.btn-primary2:hover, .btn.btn-primary.btn-primary2:focus{ background-color: #734C28; border: 1px solid #734C28; box-shadow: none; }

.p0{ padding: 0 0 0 0; }

.bg-hover-zoom1 .imgthumb-div{  -webkit-transition: all linear .7s; -moz-transition: all linear .7s; -o-transition: all linear .7s; transition: all linear .7s; }
.bg-hover-zoom1:hover .imgthumb-div{  -ms-transform: scale(1.1); -moz-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }


/*  End of general css */

.wrapper { background-color: #F6F6F6; }

.wrapper .btn.focus, .wrapper .btn:focus { outline: none; box-shadow:none; }
.wrapper .btn{ transition: all 0.3s ease-in-out; }

.container { max-width: 1170px; }

.header-div { padding: 0; margin: 0; background-color: #fff; position: fixed; top: 0; z-index: 9999; left: 0; width: 100%; min-height: 86px; }
.header-div .logo-div { padding: 12px 0px 12px 25px; margin: 0; display: flex; float: left; width: 20%; align-items: center;min-height: 86px; }
.header-div .logo_img{ transition: display ease-in-out 0.5s; width: 200px; height: 60px; object-fit: contain; object-position: left; }

.fixed_top { background-color: #ffffff; z-index: 9999; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10); transform: translateZ(65px); animation: slide-down 0.9s; -webkit-animation-name: fadeInDown; animation-name: fadeInDown; }
.fixed_top .top-nav1 { padding: 10px 0 20px 0; }
.fixed_top.header-div .ullist-inline li .nav-link{ color: #734C28; }
.fixed_top.header-div .social-ul > li > a { color: #ffffff; background-color: #734C28;transition: all ease-in-out 0.2s; }
.fixed_top.header-div .social-ul > li > a:hover { background-color: #E07B1F; }


/* start navigation  **/

.pt-86{ padding-top: 86px !important; }
.pt-50{ padding-top: 50px !important; }

.header-div{

    .top-nav1 { display: flex; justify-content: flex-end; align-items: center; padding: 0px 0 0 0; min-height: 86px; }
    .inner-top-header-div{ padding: 0;margin: 0; }
    .inner-top-header-div.top-nav1 { padding: 0; margin: 0; float: right; }
    .cd-shadow-layer { position: fixed; min-height: 100%; width: 100%; top: 0; left: 0; background: rgba(0, 0, 0, 0.6); cursor: pointer; z-index: 99999; display: none; }
    .cd-shadow-layer.is-visible { display: block; -webkit-animation: cd-fade-in 0.3s; -moz-animation: cd-fade-in 0.3s; animation: cd-fade-in 0.3s; }
    .nav-div{ float: left; }
    .display-none{ display: none !important; }
    .nav-div .closebtn { display: none; }
    .ullist-inline { padding: 0; margin: 0 35px 0 0; display: flex; align-items: center; min-height: 45px; }
    .ullist-inline li{ padding: 0;margin: 0 35px 0 0;display: inline-block;text-transform: none;font-size: 14px; }
    .ullist-inline li:last-child{ margin: 0 0 0 0; }
    .ullist-inline li .nav-link { color: #734C28; padding: 5px 0px; font-weight: 600; border-bottom: 0px solid transparent; font-size: 18px; line-height: 24px; }
    .ullist-inline li:hover .nav-link{ color: #E07B1F; border-bottom:0px solid #734C28; }
    .ullist-inline li.active .nav-link{ color: #E07B1F; border-bottom:0px solid #734C28;  }

    .social-ul { padding: 0px 0px; }
    .social-ul > li { display: inline-block;margin: 0 15px 0 0; }
    .social-ul > li > a { font-size: 14px; padding: 0px 0; display: inline-block; padding: 0px; height: 27px; width: 27px; line-height: 27px; vertical-align: middle; text-align: center; color: #ffffff; background-color: #734C28; border-radius: 100%; font-size: 14px; margin: 0;transition: all ease-in-out 0.2s; }
    .social-ul > li > a:hover { background-color: #E07B1F; color: #fff; }

}


/*  End of navigation  */


/* banner section */

.inner-banner-section{ padding: 0;margin: 0;position: relative; background-size: cover !important;  
	.inner-banner-div{ padding: 0;margin: 0;  height: 500px; background-color: rgba(0, 0, 0, .6);     display: flex; align-items: center; justify-content: center; }
	h1 { padding: 0; margin: 0 0 20px 0; font-size: 42px; color: #fff; text-align: center; line-height: 60px; font-weight: 700; }
	p { padding: 0; margin: 0 0 15px 0; font-size: 18px; color: rgba(255, 255, 255, 1); text-align: center; line-height: 32px; font-weight: 400; }
}

.main-banner-section{
    padding: 0;margin: 0;position: relative;
    .main-banner-div{
		padding: 0;margin: 0; position: relative; height: calc(100vh - 86px);
		
		.center_title { width: 100%; max-width: 900px;  padding: 0; margin: 0 auto; text-align: center; display: flex; justify-content: center; align-items: center; height: 100%;     flex-direction: column; }
		.center_title h1 { padding: 0; margin:0 0 15px 0; font-size: 42px; color: #fff; text-align: center; line-height: 60px; font-weight: 700; }
		.center_title h2 { padding: 0; margin: 0 auto 15px auto; font-size: 28px; color: #fff; text-align: center; line-height: 36px; font-weight: 700; }
		.center_title p{ padding: 0; margin: 0 auto 15px auto; max-width: 600px; font-size: 18px; color: white; text-align: center; line-height: 32px; font-weight: 400; }

        .video-banner-div{
			position:absolute; top:0; left:0; height: calc(100vh - 86px); width: 100%;
			.embed-responsive-16by9::before { padding-top: 0; }
            iframe.video-banner { height: calc(100vh - 86px); width: 100%; z-index: 9; position: relative; }
		}   
		
		.banner-content-div { position: relative; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; background-color: rgba(0, 0, 0, 0.4); z-index: 9; }

    }
} 

.pb-30{ padding-bottom: 20px !important; }

/* End of banner section */

/* top title section */

.top-title-section{     padding: 20px 0; margin: 0; position: relative; background-color: #674b30; }
.top-title-section .center_title { width: 100%; max-width: 700px; padding: 10px 0; margin: 0 auto; text-align: center; display: flex; justify-content: center; align-items: center; height: 100%; }
.top-title-section .center_title h2 { padding: 0; margin: 0; font-size: 24px; color: #fff; text-align: center; line-height: 32px; font-weight: 600; }

/* End of top title section */

/*  utah top  */

.utah-top-section{ padding: 0;margin: 0;position: relative; }
.utah-top-section .utah-top-div{ padding: 55px 0 45px 0;margin: 0; }
.utah-top-section .utah-top-div .center_title2 { width: 100%; padding: 10px 0 0 0; margin: 0 auto; text-align: center; }
.utah-top-section .utah-top-div .center_title2 h3 { padding: 0; margin: 0 0 15px 0; font-size: 32px; color: #222; text-align: center; line-height: 43px; font-weight: 600; }
.utah-top-section .utah-top-div .center_title2 p { padding: 0; margin: 0; font-size: 18px; color: #222; text-align: center; line-height: 32px; font-weight: 400; }
.utah-top-section .utah-top-div .prag-content-div { padding: 0; margin: 0 auto 15px auto; min-height: 85px; max-width: 700px; }

.partner-logo-section{ padding: 0;margin: 0;position: relative; }
.partner-logo-section .partner-logo-div{ padding: 65px 0 65px 0;margin: 0; }
.partner-logo-section .partner-logo-div .img-thumb { padding: 10px 20px; display: flex; align-items: center; justify-content: center; }
.partner-logo-section .partner-logo-div .img-fluid.img-logo { height: 85px;width: 210px; object-fit: contain; object-position: center; }
.partner-logo-section .partner-logo-div .image-thumb-row { padding: 15px 0 20px 0; }

.partner-logo-section .center-img-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* end of utah top  */

/*  box left */

.boxleft-img-section{ padding: 0;margin: 0;position: relative; }
.boxleft-img-section .boxleft-img-div{ margin: 0; padding: 0; background-color: #fff; height: 500px; }
.boxleft-img-div .imgthumb-div { padding: 0; margin: 0; background: url(../images/img1.jpg) no-repeat; width: 100%;height: 100%;background-size: cover; }
.boxleft-img-div .imgthumb-div.lower-cost-div { background-position-y: center; }
.boxleft-img-div .imgthumb-div3 { padding: 0; margin: 0; background: url(../images/img3.jpg) no-repeat; width: 100%;height: 100%;background-size: cover;}
.boxleft-img-div .col-50{ margin: 0; padding: 0; position: relative; float: left; width: 50%; display: flex; height: 100%;align-items: center; overflow: hidden; }
.boxleft-img-div .content-div { width: 100%; padding: 0px 0 0 65px; margin: 0; max-width: 600px; }
.boxleft-img-div .content-div h3 { padding: 0; margin: 0 0 25px 0; font-size: 36px; color: #000; line-height: 43px; font-weight: 600; }
.boxleft-img-div .content-div p { padding: 0; margin: 0 0 10px 0; font-size: 18px; color: #000000; line-height: 28px; font-weight: 400; }
.boxleft-img-div .prag-content-div{ margin: 0 0 25px 0;  }

.boxright-img-section{ padding: 0;margin: 0;position: relative; }
.boxright-img-section .boxright-img-div{ margin: 0; padding: 0; background-color: #fff; height: 500px; }
.boxright-img-div .imgthumb-div { padding: 0; margin: 0; background: url(../images/img2.jpg) no-repeat; width: 100%;height: 100%;background-size: cover; }
.boxright-img-div .col-50{ margin: 0; padding: 0; position: relative; float: left; width: 50%; display: flex; height: 100%;align-items: center;justify-content: center;overflow: hidden; }
.boxright-img-div .content-div {     width: 100%; padding: 0px 0px 0 0px; margin: 0; max-width: 675px; }
.boxright-img-div .content-div h3 { padding: 0; margin: 0 0 15px 0; font-size: 36px; color: #000; line-height: 43px; font-weight: 600; }
.boxright-img-div .content-div p { padding: 0; margin: 0 0 10px 0; font-size: 18px; color: #000000; line-height: 28px; font-weight: 400; }
.boxright-img-div .prag-content-div{ margin: 0 0 25px 0;  }

/* end of box left & right */

/* sae */

.sae-section{ padding: 0;margin: 50px 0 50px 0;position: relative; }
.sae-section .sae-div{ margin: 0; padding: 140px 150px 100px 150px; background-color: #fff; background: no-repeat fixed center;background-size: cover; display: flex; justify-content: center; }
.sae-div .bluebox-div { padding: 65px 0; margin: 0; background-color: #E07B1F;max-width: 800px; float: left; }
.sae-div .bluebox-div .content-div { width: 100%; padding: 0px 80px; margin: 0;text-align: left; }
.sae-div .bluebox-div .content-div h3 { padding: 0; margin: 0 0 30px 0; font-size: 36px; color: #734C28; line-height: 43px; font-weight: 600; }
.sae-div .bluebox-div .content-div p {  padding: 0;  margin: 0 0 20px 0; font-size: 20px;  color: rgba(255, 255, 255, 0.9); line-height: 32px; font-weight: 400;  text-align: left; }
.sae-div .bluebox-div .content-div p:last-child {  margin: 0 0 0px 0;  }
.sae-div .bluebox-div .btn-row{ margin: 30px 0 10px 0; }

/* end of sae  */

/* contact section */

.contact-box-section{ padding: 0;margin: 50px 0 50px 0;position: relative; }
.contact-box-section .contact-box-div {  margin: 0;  padding: 0;  background-color: #fff;  height: 715px;  box-shadow: 0 0 4px 0 #00000029; }
.contact-box-div .imgthumb-div { padding: 0; margin: 0; background: url(../images/contact-us.jpg) no-repeat; width: 100%;height: 100%;background-size: cover; }
.contact-box-div .col-50{ margin: 0; padding: 0; position: relative; float: left; width: 50%; display: flex; height: 100%;align-items: center;justify-content: center;overflow: hidden; }
.contact-box-div .content-div { width: 100%; padding: 0px 0px 0 0px; margin: 0; max-width: 640px; }
.contact-box-div .content-div h4 { padding: 0; margin: 0 0 25px 0; font-size: 21px; color: #1B242C; line-height: 32px; font-weight: 600;max-width: 560px; }
.contact-box-div .content-div .prag-content-div {  margin: 0; padding: 0 0 15px 0; border-bottom: 1px solid #EEEEEE; }
.contact-box-div .content-div p { padding: 0 10px 0 0; margin: 0 0 15px 0; font-size: 16px; color: #666666; line-height: 28px; font-weight: 400; }

.contact-box-div .content-details-div{ margin: 0; padding: 30px 0; }
.contact-box-div .content-details-div .contact-link { margin: 0; padding: 0px 0; font-size: 22px; font-weight: 400; line-height: 32px; color: #734C28; }
.contact-box-div .content-details-div .contact-row { display: flex; align-items: center; padding: 0; margin: 0 0 30px 0; }
.contact-box-div .content-details-div .icon-span { float: left; display: flex; width: 35px; text-align: center; justify-content: center; align-items: center; }
.contact-box-div .content-details-div .span-txt{ display: inline-block;padding-left: 25px; }
.contact-box-div .content-details-div .custom_icon { display: inline-block; padding: 0; float: left; }
.contact-box-div .content-details-div .custom_icon:before{ font-size: 28px; }
.contact-box-div .content-details-div .custom_icon.email_icon:before{ font-size: 32px; }

.contact-box-div .form-div{ margin: 0;  padding: 0; position: relative; }
.contact-box-div .form-div .btn-send { position: absolute; top: 0; right: 0; color: #fff; background-color: #734C28; border-color: #734C28; height: 75px; border-radius: 0px; padding: 22px 40px; font-size: 22px; font-weight: 700; line-height: 32px; }
.contact-box-div .form-div .btn-send:hover, .contact-box-div .form-div .btn-send:focus{ box-shadow: none;background-color: #E07B1F;border: 1px solid #E07B1F; }
.contact-box-div .form-div .input-email { height: 75px; border: none; background-color: #1B242C; border-radius: 0px; padding: 20px 170px 20px 25px; color: #fff;font-size: 22px; font-weight: 400; }
.contact-box-div .form-div .input-email::-webkit-input-placeholder { color: #fff; }
.contact-box-div .form-div .input-email::-moz-placeholder { color:  #fff; }
.contact-box-div .form-div .input-email:-ms-input-placeholder { color:  #fff; }
.contact-box-div .form-div .input-email:-moz-placeholder { color:  #fff; }

/* end of contact section */

/* giving-section */

.giving-section{ padding: 0;margin: 0;position: relative; }
.giving-section .giving-div{ padding: 0;margin: 0;background-color: #674b30; }
.giving-section .center_title {  width: 100%;  padding: 40px 0 40px 0;  margin: 0 auto;  text-align: center; }
.giving-section .center_title h2 { padding: 0; margin: 0; font-size: 36px; color: #fff; text-align: center; line-height: 43px; font-weight: 700; width: 100%; }

.giving-section .giving-details-div { margin: 0; padding: 25px 0 0 0; width: 100%; display: flex; align-items: center; justify-content: center; }
.giving-section .giving-details-div .contact-link { margin: 0; padding: 0px 0; font-size: 22px; font-weight: 400; line-height: 32px; color: #ffffff; }
.giving-section .giving-details-div .contact-row { display: flex; align-items: center; padding: 0; margin: 0 75px 0 0; width: auto; float: left; }
.giving-section .giving-details-div .contact-row:last-child { margin: 0 0px 0 0; }
.giving-section .giving-details-div .icon-span { float: left; display: flex; width: 35px; text-align: center; justify-content: center; align-items: center; }
.giving-section .giving-details-div .span-txt{ display: inline-block;padding-left: 15px; }
.giving-section .giving-details-div .custom_icon { display: inline-block; padding: 0; float: left; }
.giving-section .giving-details-div .custom_icon:before{ font-size: 28px; }

/* end of giving-section */

/* footer  */

.footer-row{ padding: 0;margin: 0;position: relative; }
.footer-row .left-link-row { padding: 20px 0; margin: 0 auto; max-width: 1450px; display: block; border-bottom: 1px solid #7070702b; }
.footer-row .left-link-row .footer-nav{ padding: 0;margin: 0;float: left; }
.footer-row .left-link-row .footer-nav li{ padding: 0;margin: 0;display: inline-block;float: left; }
.footer-row .left-link-row .footer-nav li .footer-link { color: #666666; line-height: 40px; padding: 0 18px; margin: 0; font-size: 20px;display: inline-block; }
.footer-row .left-link-row .footer-nav li .footer-link:hover{ color: #E07B1F; }
.footer-row .left-link-row .footer-nav li:first-child .footer-link {padding: 0 18px 0 0;  }
.footer-row .left-link-row .footer-nav li.active a{ color: #E07B1F !important; }
.footer-row .left-link-row .footer-nav .vertical-line { color: #666666; line-height: 40px; padding: 0 0px; margin: 0; font-size: 20px;display: inline-block; }
.footer-row .left-link-row .footer-social-ul{ padding: 0;margin: 0;float: right; }
.footer-row .left-link-row .footer-social-ul > li { display: inline-block; margin: 0 15px 0 0; }
.footer-row .left-link-row .footer-social-ul > li > a { font-size: 14px;  padding: 0px 0;  display: inline-block;  padding: 0px;  height: 45px;  width: 45px;  line-height: 45px;  vertical-align: middle;  text-align: center;  color: #734C28;  background-color: #ffffff;  border-radius: 100%;  font-size: 21px;  margin: 0;  transition: all 0.3s ease-in-out; }
.footer-row .left-link-row .footer-social-ul > li > a:hover, .footer-row .left-link-row .footer-social-ul > li > a:focus { color: #ffffff;  background-color: #734C28;  }
.footer-row .bottom-row{ padding: 20px 0 30px 0; margin: 0 auto; max-width: 1450px; display: block;  }
.footer-row .bottom-row .leftside-footer { padding: 0; margin: 0; width: 40%; float: left; }
.footer-row .bottom-row .leftside-footer p { padding: 0; margin: 0; font-size: 16px; line-height: 28px; color: #666666; }
.footer-row .bottom-row .leftside-footer .span-block {  display: block; }
.footer-row .bottom-row .rightside-footer { padding: 0; margin: 0; width: 60%; float: left;}
.footer-row .bottom-row .rightside-footer p { padding: 0; margin: 0; font-size: 16px; line-height: 28px; color: #666666; text-align: right; min-height: 56px; display: flex; justify-content: flex-end; align-items: flex-end; }

.footer-row .bottom-row .d-flex.sponsored-logo-img-block { display: flex; text-align: left; justify-content: flex-start; align-items: center; }
.footer-row .bottom-row .leftside-footer p { padding: 0 20px 0 20px; margin: 0 0 0px 0; font-size: 16px; color: #222; text-align: center; line-height: 36px; font-weight: 600; }
.footer-row .bottom-row .img-fluid.img-farm-bureau { width: 100px; }

/* end of footer  */


/******* Inner Page CSS *********/


/* breadcrumb section */

.breadcrumb-section{ padding: 0;margin: 0;position: relative;}
.breadcrumb-section .breadcrumb-div{ padding: 0;margin: 0;background-color: #674b30; }
.breadcrumb-div .breadcrumb-row { width: 100%; padding: 20px 0; }
.breadcrumb-div .breadcrumb-row a { padding: 0; margin: 0; font-size: 16px; color: #fff; line-height: 32px; font-weight: 600; display: inline-block; }
.breadcrumb-div .breadcrumb-row p { padding: 0; margin: 0; font-size: 16px; color: #fff; line-height: 32px; font-weight: 600; display: inline-block; }
.breadcrumb-div .breadcrumb-row .custom_icon:before { font-size: 10px;color: #fff; }
.breadcrumb-div .breadcrumb-row .icon-span { padding: 0 5px; }

/* End of breadcrumb section */

/*  heading top  */

.heading-section{ padding: 0;margin: 0;position: relative; }
.heading-section .heading-div{ padding: 45px 0 55px 0;margin: 0; }
.heading-section .heading-div .center_title2 { width: 100%; padding: 10px 0 0 0; margin: 0 auto; max-width: 850px; text-align: center; }
.heading-section .heading-div .center_title2 h3 { padding: 0; margin: 0 0 15px 0; font-size: 36px; color: #734C28; line-height: 42px; font-weight: 700; }
.heading-section .heading-div .center_title2 h4 { padding: 0; margin: 0 0 10px 0; font-size: 24px; color: #000000; line-height: 36px; font-weight: 700; }
.heading-section .heading-div .center_title2 p { padding: 0; margin: 0 auto 10px auto;  max-width: 600px; font-size: 18px; color: #222; text-align: center; line-height: 32px; font-weight: 400; }
.heading-section .heading-div .prag-content-div { padding: 0; margin: 0 auto; max-width: 700px; }
.heading-section .heading-div .prag-content-div.prag-content-div2 { max-width: 1200px; }
.heading-section .heading-div .prag-content-div.prag-content-div3 { max-width: 1200px; }
.heading-section .heading-div .center_title2 .prag-content-div3{  }
.heading-section .heading-div .center_title2 .prag-content-div3 p{ max-width: 1200px; }

.max-width-100{ max-width: 100% !important; }

.heading-section .heading-div2{ padding: 55px 0 10px 0;margin: 0 0 0px 0; }
.heading-section .heading-div2 .center_title3 h3 { margin: 0 0 50px 0; }

/* end of heading top  */


/*  box left */

.inner-boxright-img-section{ padding: 0;margin: 0;position: relative; }
.inner-boxright-img-section .inner-boxright-img-div{ margin: 0; padding: 0; background-color: #fff; height: 550px;box-shadow: 0 0 4px 0 #00000029; }
.inner-boxright-img-div .imgthumb-div { padding: 0; margin: 0; background: url(../images/img4.jpg) no-repeat; width: 100%;height: 100%;background-size: cover; }
.inner-boxright-img-div .col-50{ margin: 0; padding: 0; position: relative; float: left; width: 50%; display: flex; height: 100%;overflow: hidden; }
.inner-boxright-img-div .content-div { width: 100%; padding: 55px 0 0 100px; margin: 0; max-width: 600px; }

.inner-boxright-img-section .inner-boxright-img-div3{ margin: 0; padding: 0; background-color: #fff; height: 635px;box-shadow: 0 0 4px 0 #00000029; }
.inner-boxright-img-section .inner-boxright-img-div3 .imgthumb-div { padding: 0; margin: 0; background: url(../images/img6.jpg) no-repeat; width: 100%;height: 100%;background-size: cover; }
.inner-boxright-img-section .inner-boxright-img-div3 .content-div { padding: 65px 0 0 100px; }

.inner-boxright-img-section .inner-boxright-img-div-pre1{ margin: 0; padding: 0; background-color: #fff; height: 540px;box-shadow: 0 0 4px 0 #00000029; }
.inner-boxright-img-section .inner-boxright-img-div-pre1 .imgthumb-div { padding: 0; margin: 0; background: url(../images/img7.jpg) no-repeat; width: 100%;height: 100%;background-size: cover; }
.inner-boxright-img-section .inner-boxright-img-div-pre1 .content-div { padding: 65px 0 0 100px; }

.inner-boxright-img-section .inner-boxright-about1{ margin: 0; padding: 0; background-color: #fff; height: 540px;box-shadow: 0 0 4px 0 #00000029; }
.inner-boxright-img-section .inner-boxright-about1 .imgthumb-div { padding: 0; margin: 0; background: url(../images/img1.jpg) no-repeat; width: 100%;height: 100%;background-size: cover; }
.inner-boxright-img-section .inner-boxright-about1 .content-div { padding: 65px 0 0 100px; }

.inner-boxright-img-div .content-div h4 { padding: 0; margin: 0 0 20px 0; font-size: 21px; color: #1B242C; line-height: 32px; font-weight: 600; }
.inner-boxright-img-div .content-div h3 { padding: 0; margin: 0 0 20px 0; font-size: 21px; color: #734C28; line-height: 32px; font-weight: 600;}
.inner-boxright-img-div .content-div p { padding: 0; margin: 0 0 15px 0; font-size: 16px; color: #666666; line-height: 28px; font-weight: 400; }

.inner-boxright-img-div .listing-div{ margin: 0; padding: 0; }
.inner-boxright-img-div .listing-div .ul-listing{ margin: 0; padding: 0 0 10px 0;list-style: none; }
.inner-boxright-img-div .listing-div .ul-listing li{ margin: 0 0 15px 0; padding: 0 0 0 35px; list-style: none; position: relative; line-height: 23px; font-size: 16px;color: #666666; }
.inner-boxright-img-div .listing-div .round-arrow { margin: 0; padding: 0; background-color: #734C28; height: 23px; width: 23px; line-height: 21px; display: inline-block; text-align: center; border-radius: 100%; position: absolute; left: 0; top: 0; }
.inner-boxright-img-div .listing-div .round-arrow .custom_icon:before { font-size: 10px;color: #fff; }

/* start left image */

.inner-boxleft-img-section{ padding: 0;margin: 0;position: relative; }
.inner-boxleft-img-section .inner-boxleft-img-div{ margin: 0; padding: 0; background-color: #fff; height: 555px;box-shadow: 0 0 4px 0 #00000029; }
.inner-boxleft-img-div .imgthumb-div { padding: 0; margin: 0; background: url(../images/img5.jpg) no-repeat; width: 100%;height: 100%;background-size: cover;background-position: top;background-position-y: -35px; }
.inner-boxleft-img-div .col-50{ margin: 0; padding: 0; position: relative; float: left; width: 50%; display: flex; height: 100%;overflow: hidden; }
.inner-boxleft-img-div .content-div { width: 100%; padding: 55px 0 0 100px; margin: 0; max-width: 600px; }
.inner-boxleft-img-div .content-div h4 { padding: 0; margin: 0 0 20px 0; font-size: 21px; color: #1B242C; line-height: 32px; font-weight: 600; }
.inner-boxleft-img-div .content-div h3 { padding: 0; margin: 0 0 20px 0; font-size: 21px; color: #734C28; line-height: 32px; font-weight: 600;}
.inner-boxleft-img-div .content-div p { padding: 0; margin: 0 0 25px 0; font-size: 16px; color: #666666; line-height: 28px; font-weight: 400; }

.inner-boxleft-img-div .listing-div{ margin: 0; padding: 0; }
.inner-boxleft-img-div .listing-div .ul-listing{ margin: 0; padding: 0 0 10px 0;list-style: none; }
.inner-boxleft-img-div .listing-div .ul-listing li{ margin: 0 0 15px 0; padding: 0 0 0 35px; list-style: none; position: relative; line-height: 23px; font-size: 16px;color: #666666; }
.inner-boxleft-img-div .listing-div .round-arrow { margin: 0; padding: 0; background-color: #734C28; height: 23px; width: 23px; line-height: 21px; display: inline-block; text-align: center; border-radius: 100%; position: absolute; left: 0; top: 0; }
.listing-div .round-arrow .custom_icon:before { font-size: 10px;color: #fff; padding-left: 2px; }

.inner-boxleft-img-div.inner-boxright-img-div-pre2{ margin: 0; padding: 0; background-color: #fff; height: 700px;box-shadow: 0 0 4px 0 #00000029; }
.inner-boxleft-img-div.inner-boxright-img-div-pre2 .imgthumb-div { padding: 0; margin: 0; background: url(../images/img5.jpg) no-repeat; width: 100%;height: 100%;background-size: cover; }
.inner-boxleft-img-div.inner-boxright-img-div-pre2 .content-div p { padding: 0; margin: 0 0 15px 0; font-size: 16px; color: #666666; line-height: 28px; font-weight: 400; }

/* end of box left & right */

/* faq-section */

.faq-section{ padding: 0;margin: 0;position: relative; }
.faq-section .faq-div{ padding: 45px 0 55px 0;margin: 0;background-color: #ffffff; }
.faq-div .faq-center-div{ padding: 0;margin: 0; }
.faq-div .faq-center-div .heading_faq{ padding: 0;margin: 0; }
.faq-div .faq-center-div .heading_faq h4 { padding: 0; margin: 0 0 20px 0; font-size: 21px; color: #1B242C; line-height: 32px; font-weight: 600; }
.faq-div .faq-center-div .accordion-div{ padding: 0;margin: 0; }

.accordion-div{ padding: 0;margin: 0; }
.accordion-div .card_box { padding: 0; margin: 0 0 20px 0; background-color: #fff; border: none; box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16); }
.accordion-div .card_box .card-header { padding: 15px 15px 15px 15px; margin-bottom: 0; background-color: #fff !important; border-bottom: 1px solid #EEEEEE; }
.accordion-div .card_box .card-header .card-link { color: #222222; padding: 0 20px 0 0; margin: 0; font-size: 16px; font-weight: 600; line-height: 26px; position: relative; width: 100%; display: block; }
.accordion-div .card_box .card-body {  padding: 15px; }
.accordion-div .card_box .flaticon-right-arrow.arrow-icon {     position: absolute; right: 5px; top: 0; }
.accordion-div .card_box .flaticon-right-arrow.arrow-icon:before { content: "\f102"; font-size: 10px; color: #727272; transform: rotate(90deg); display: inline-block; }
.accordion-div .card_box .flaticon-right-arrow.arrow-icon.up-arrow-icon:before { transform: rotate(270deg);  }

.accordion-div .card_box .body-content-div{ padding: 0;margin: 0; }
.accordion-div .card_box .body-content-div p { padding: 0; margin: 0; font-size: 16px; color: #666666; line-height: 26px; }
.accordion-div .card_box .body-content-div .ul-listing { margin: 0; padding: 15px 0 0px 0; list-style: none; }
.accordion-div .card_box .body-content-div .ul-listing li{ margin: 0 0 15px 0; padding: 0 0 0 35px; list-style: none; position: relative; line-height: 23px; font-size: 16px;color: #666666; }
.accordion-div .card_box .body-content-div .ul-listing li:last-child{ margin: 0 0 5px 0; }
.accordion-div .card_box .body-content-div .round-arrow { margin: 0; padding: 0; background-color: #734C28; height: 23px; width: 23px; line-height: 21px; display: inline-block; text-align: center; border-radius: 100%; position: absolute; left: 0; top: 0; }
.accordion-div .card_box .body-content-div .round-arrow .custom_icon:before { font-size: 10px;color: #fff;padding-left: 2px; }

.bottom_message_div{ padding: 60px 0 10px 0;margin: 0; }
.bottom_message_div p{ padding: 0; margin: 0; font-size: 18px; color: #666666; line-height: 32px;text-align: center; }

/* end of faq-section */


/*******  End of Inner Page CSS *********/

.main-form-section{
	padding: 0; margin: 0; position: relative;
	.main-form-div{
		padding: 50px 0; margin: 0; position: relative; background-color: #fafafa;
	}
}

.pt-15{ padding-top: 15px !important; }

.map-div {
    width: 100%;
    height: 500px;
}

.common-form-div{
	.heading{ margin-bottom: 30px; 
		h1 { font-size: 28px; margin: 0 0 20px 0; color: #000000; letter-spacing: 0; text-align: left; font-weight: 600; line-height: 30px; }
		h3 { font-size: 20px; margin: 0 0 10px 0; color: #000000; letter-spacing: 0; text-align: left; font-weight: 600; line-height: 30px; }
		p{ padding: 0; margin: 0 0 15px 0; font-size: 16px; color: #222; line-height: 28px; font-weight: 400; }
		ul{
			li{ padding: 0; margin: 0 0 5px 0; font-size: 16px; color: #222; line-height: 28px; font-weight: 400; }
		}
	}
	.total-span{ color: #666; }
	.form-group {
		label { font-size: 14px; font-weight: 500; color: #727272; letter-spacing: 0; line-height: 20px; margin-bottom: 5px; }
		.form-control {
			height: 50px; border-radius: 0; background: #FFFFFF; font-size: 16px; color: #222221; text-align: left; border: 1px solid #DDDDDD; outline: 0; box-shadow: none;
			&:focus { border: 1px solid #222221d7; }
			&::-webkit-input-placeholder { color: #666; }
			&::-moz-placeholder { color: #666; }
			&:-ms-input-placeholder { color: #666; }
			&:-moz-placeholder { color: #666; }
			@media (max-width: 767px) { font-size: 16px; height: 40px; }
			&:disabled{
				background-color: #eee !important;
			}
		}
		textarea.form-control {
			min-height: 100px;
			resize: none;
			height: auto;
			padding: 10px .75rem;
		}
	}
	.form-group-padding{ padding: 10px 0 0 0; }
	.dollar-group{
		position: relative;
		span.input-group-text {
			background-color: #fff;
			min-width: 46px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 400;
			font-size: 24px;
		}
	}
	.amount-root { display: flex; flex-direction: row; flex-flow: wrap; padding: 0px 0 15px 0;
		.amount-box {
			width: 50%;
		}
	}
	.format-radio{
		padding: 10px 15px; margin: 0 0 10px 0; min-width: 92px; border-radius: 0px;	background-color: #fff; border: 1px solid #ddd; width: 100%; display: flex; flex-direction: column;  transition: 0.5s; cursor: pointer;
		input.radio-input{ opacity: 0; display: none; }
		.title-div {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 5px;
			h4{ margin: 0 0 0px 0; font-size: 16px; line-height: 28px; }
			 span.font-weight-bold {
				padding: 4px 15px;
				background-color: #E07B1F;
				margin: 0px 0px 0px 10px;
				border-radius: 8px;
				color: #ffffff;
				letter-spacing: 2px;
			}
		}
	}
	.format-radio.active{
		background-color: #73a319;
		color: #fff;
		border-color: #73a319;
		.title-div span.font-weight-bold {
			background-color: #86b135;
			color: #ffffff;
		}
	}
	.format-radio:hover{
		
	}
	.custom-control{
		cursor: pointer;
		label.custom-control-label{
			cursor: pointer;
		}
	}
}

.table-div{
	padding: 10px 0 10px 0; margin: 0; position: relative;
	h3{ font-size: 18px; margin:0px 0 10px 0; color: #000000; letter-spacing: 0; text-align: left; font-weight: 600; line-height: 30px; }
	.table thead th { min-width: 100px; font-weight: 500; line-height: 20px; border-bottom: 1px solid #dee2e6 !important; background-color: #fafafa; font-size: 15px; }
	.table td {  min-width: 100px; font-size: 14px; line-height: 20px; }
	
}

/* step */

.step-forms-section.step-forms-section2{
	.step-forms-nav-tab ul { width: 60%; margin: 0 auto 20px auto; }
	.step-forms-nav-tab ul li { width: 50%; }
	.step-forms-nav-tab ul:after { width: 50%; left: 25%; }
	.step-forms-nav-tab ul li:last-child.done:before{ display: none; }
} 


/* End of step */

/* page not found */

.page-not-found-section{ 
    margin: 0; padding: 0 0 80px 0; position: relative; background: url("../images/cloud.svg") no-repeat;background-size: cover; background-position: center;
    height: 100%; min-height: calc(100vh - 86px); display: flex;justify-content: center;
    .page-not-found-div{
        margin: 0; padding: 0;text-align: center;
        .page-not-thumb{
            margin: 0 auto; padding: 0; 
            img{ margin: 0 auto; }
        }
        .page-not-content{
            margin: 40px auto 0 auto; padding: 0; max-width: 600px;
            h3 {     padding: 0;
				margin: 0 0 20px 0;
				font-size: 32px;
				color: #222;
				text-align: center;
				line-height: 43px;
				font-weight: 600; }
            p { padding: 0 0 10px 0; margin: 0 0 0 0; font-size: 18px; line-height: 25px; font-weight: 500;  }
            .button-common-div{
                display: flex;
                justify-content: center;
			}
			.content-max-width{
				padding: 20px 0 40px 0;
			}
        }
    }
}

.thankyou-section{ 
    margin: 0; padding: 60px 0 80px 0; position: relative; background-color: #fff; display: flex; align-items: center;
    height: 100%; min-height: 600px; display: flex;justify-content: center; background: url("../images/thankyou-logo-symbol.png") no-repeat;background-size: 600px; background-position: center;
    .thankyou-div{
        margin: 0; padding: 0;text-align: center; 
        .thankyou-thumb{
            margin: 0 auto; padding: 20px 0 20px 0; 
            img{ margin: 0 auto; }
        }
        .thankyou-content{
            margin: 30px auto 0 auto; padding: 0; max-width: 800px;
            h3 { padding: 0; margin: 0 0 20px 0; font-size: 32px; color: #674b31; text-align: center; line-height: 43px; font-weight: 800; text-transform: uppercase; }
            p { padding: 0 0 10px 0; margin: 0 0 0 0; font-size: 18px; line-height: 26px; font-weight: 500;  }
            .button-common-div{
                display: flex;
                justify-content: center;
			}
			.content-max-width{
				padding: 20px 0 20px 0;
			}
        }
    }
}

/* End of page not found */

@media (min-width: 1025px) {
	
	.header-div .ullist-inline{ min-height: 86px; }
	.header-div .ullist-inline li { position: relative; height: 100%;  }
	.header-div .ullist-inline li .nav-link {  padding-top: 7px; min-height: 86px; display: flex; align-items: center; }
	.header-div .ullist-inline li.active:after{ content: ""; height: 2px; border-radius: 24px; width: 100%; display: block; position: absolute; bottom: 0; background-color: #E07B1F; }

}

@media only screen and (max-width: 767px){


.middle-container { width: 100%; overflow: hidden; }

.header-div .login-page-div .logo-div { padding: 30px 0px 10px 0; margin: 0; text-align: center;width: 100%; }
.header-div .login-div { width: 100%; }
.header-div .login-div .login-box .m-login-col{ width: 100%;margin: 0 0 10px 0;padding: 0; }
.header-div .login-page-div { min-height: 415px; }


/* mobile navigation start */

.nav-div .closebtn { display:block;}
.nav-m-bar{ position: absolute; top: 26px; right: 20px; z-index: 9999; }
.nav-m-bar .menu-bars{ background:url(../images/icon/menubar.svg) no-repeat; width:21px; height:23px; display:inline-block; vertical-align:middle;}

.header-div{ min-height: 75px; }
.header-div .logo-div{  width: 60%;padding: 0; min-height: 75px;}
.header-div .logo_img { width: 140px; height: 50px;}

.header-div .nav-div { height: 100%;  width: 0;  position: fixed; z-index: 9999999; top: 0; right: 0; background-color: #734C28;  overflow-x: hidden;  padding-top: 70px; transition: 0.5s;  }
.header-div .nav-div .closebtn { position: absolute; color: #fff; background: #734C28; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 28px; font-weight: 300; line-height: 35px; }
.header-div .nav-div .closebtn:hover { color: #fff; }
.header-div .nav-div ul li { width: 100%; margin: 0px 0 5px 0; padding: 5px 20px; }
.header-div .ullist-inline { height: auto; }
.header-div .body-listing { min-height: 100%; }
.header-div .width80{ width: 85%; }
.header-div .opacityon{ opacity: 1; }
.header-div .displayblock{ display: block; }
.header-div .top-nav1 { padding: 0px 0 0 0; min-height: 75px; }
.header-div .ullist-inline li a {  color: #000000; }
.header-div .banner-div .carousel-indicators li { height: 2px; }
.header-div .ullist-inline li .nav-link{ color: #fff;font-weight: 500;font-size: 16px; }
.header-div .ullist-inline li.active{ background-color: rgb(150, 98, 50); }
.header-div .ullist-inline li.active .nav-link{ color: #fff; display: inline-block; border-color: transparent; }
.header-div .nav-div ul li .social-ul > li{  padding: 0px 0px;margin: 0 15px 0 0;  width: auto; }
.header-div .nav-div ul li .social-ul > li a { color: #734C28; background-color: #ffffff; }
.header-div .ullist-inline { margin: 0 0px 0 0; min-height: auto; }
.header-div .social-ul > li > a { height: 35px; width: 35px; line-height: 35px; font-size: 18px; }
.fixed_top.header-div .ullist-inline li .nav-link { color: #ffffff; }
.fixed_top{ transform: none; animation: none; }
.header-div{ transform: none; }
.header-div .social-icon-div { position: absolute; bottom: 20px; }

/* End of navigation */

/* banner & top title */

.main-banner-section.pt-86{ padding-top: 75px !important; }
.inner-banner-section.pt-86{ padding-top: 75px !important; }
.middle-container.pt-86{ padding-top: 75px !important; }


.main-banner-section .main-banner-div{ height: calc(100vh - 75px); }
.main-banner-section .main-banner-div .video-banner-div{ height: calc(100vh - 75px); }
.main-banner-section .main-banner-div .video-banner-div iframe.video-banner{ height: calc(100vh - 75px); }
.main-banner-section .main-banner-div .center_title h1 { font-size: 24px; line-height: 38px; }
.main-banner-section .main-banner-div .center_title h2 { font-size: 21px; line-height: 32px; }
.inner-banner-section h1{ font-size: 24px; line-height: 38px; }
.inner-banner-section p { margin: 0 0 15px 0; font-size: 16px; line-height: 28px; }

.banner-section .banner-div{ background-position: center; }
.banner-section .banner-div .center_title h1 { padding: 0 15px; font-size: 28px; max-width: 100%; line-height: 36px; }
.top-title-section .center_title h2 { font-size: 18px; line-height: 28px; }

/* End of banner */

.btn.btn-primary.btn-readmore { padding: 8px 40px; font-size: 16px; line-height: 26px; height: 46px; }


.boxleft-img-div .content-div h3 { margin: 0 0 20px 0; font-size: 28px; line-height: 42px; color: #000; }
.boxleft-img-div .content-div p{ font-size: 16px; line-height: 26px; }
.boxright-img-div .content-div h3{ margin: 0 0 20px 0; font-size: 28px; line-height: 42px; color: #000; }
.boxright-img-div .content-div p{ font-size: 16px; line-height: 26px; }

.boxleft-img-section .boxleft-img-div{ height: auto; }
.boxleft-img-div .col-50 { width: 100%; display: flex; height: auto; }
.boxleft-img-div .imgthumb-div { width: 100%; height: 165px; background-size: cover; }
.boxleft-img-div .content-div{ padding: 50px 15px;max-width: 100%; }

.boxright-img-section .boxright-img-div{ height: auto;    height: auto; display: flex; flex-direction: column; }
.boxright-img-div .col-50 { width: 100%; display: flex; height: auto; }
.boxright-img-div .col-50.left-div { order: 2; }
.boxright-img-div .imgthumb-div { width: 100%; height: 165px; background-size: cover; }
.boxright-img-div .content-div{ padding: 50px 15px;max-width: 100%; }

.sae-section .sae-div { padding: 15px; }
.sae-div .bluebox-div{ max-width: 100%;padding: 50px 15px; }
.sae-div .bluebox-div .content-div{ padding: 0; }
.sae-div .bluebox-div .content-div p { margin: 0 0 20px 0; font-size: 16px; line-height: 28px; }
.sae-div .bluebox-div .content-div h3 { font-size: 28px; }

.contact-box-section .contact-box-div { height: auto;    height: auto; display: flex; flex-direction: column; }
.contact-box-div .col-50 { width: 100%; display: flex; height: auto; }
.contact-box-div .col-50.left-div { order: 2; }
.contact-box-div .imgthumb-div { width: 100%; height: 275px; background-size: cover; }
.contact-box-div .content-div{ padding: 50px 15px;max-width: 100%; }
.contact-box-div .content-div p{ padding: 0 0 0 0; }
.contact-box-div .content-details-div .custom_icon:before { font-size: 18px; }
.contact-box-div .content-details-div .custom_icon.email_icon:before { font-size: 18px; }
.contact-box-div .content-details-div .span-txt {  padding-left: 0; }
.contact-box-div .content-details-div .contact-link { font-size: 16px; }
.contact-box-div .content-details-div .contact-row {  margin: 0 0 10px 0; }

.contact-box-div .form-div .form-group{ margin: 0 0 0 0; }
.contact-box-div .form-div .input-email { height: 50px; padding: 10px 100px 10px 15px; font-size: 16px; }
.contact-box-div .form-div .btn-send { height: 50px; padding: 10px 20px; font-size: 16px; }

.giving-section .center_title h2 { font-size: 20px; line-height: 32px; text-align: left; padding: 0 10px; }
.giving-section .giving-div { padding: 50px 0; }
.giving-section .giving-details-div { display: block; clear: both; }
.giving-section .center_title { display: block; clear: both;padding: 0 0; }
.giving-section .giving-details-div .custom_icon:before { font-size: 18px; }
.giving-section .giving-details-div .custom_icon.email_icon:before { font-size: 18px; }
.giving-section .giving-details-div .span-txt {  padding-left: 0; }
.giving-section .giving-details-div .contact-link { font-size: 16px; }
.giving-section .giving-details-div .contact-row {  margin: 0 0 10px 0; }

.footer-row .left-link-row .footer-nav .vertical-line{ display: none; }
.footer-row .left-link-row .footer-nav { padding: 20px 0 20px 0px;  }
.footer-row .left-link-row .footer-nav li { padding: 5px 0px; display: block; width: 100%; }
.footer-row .left-link-row .footer-nav li .footer-link {     line-height: 26px; font-size: 16px; padding: 0; }
.footer-row .left-link-row .footer-nav li:first-child .footer-link { padding: 0; }
.footer-row .left-link-row .footer-social-ul{ float: left;margin: 0 0 20px 0; }
.footer-row .left-link-row { padding: 20px 15px; }

.footer-row .bottom-row{ max-width: 100%;padding: 12px 15px 12px 15px; }
.footer-row .bottom-row .leftside-footer{ width: 100%;margin: 0 0 0px 0; }
.footer-row .bottom-row .rightside-footer{ width: 100%; }
.footer-row .bottom-row .rightside-footer p { justify-content: flex-start; align-items: center;    min-height: auto; }
.footer-row .bottom-row .leftside-footer p { font-size: 12px; line-height: 18px; }

/******* Inner Page CSS *********/

.heading-section .heading-div .center_title2 h3 { font-size: 24px;line-height: 32px; }

.inner-boxright-img-section .inner-boxright-img-div{ height: auto; height: auto; display: flex; flex-direction: column; }
.inner-boxright-img-div .col-50 { width: 100%; display: flex; height: auto; }
.inner-boxright-img-div .col-50.left-div { order: 2; }
.inner-boxright-img-div .imgthumb-div { width: 100%; height: 220px; background-size: cover; }
.inner-boxright-img-div .content-div{ padding: 50px 15px;max-width: 100%; }

.inner-boxleft-img-section .inner-boxleft-img-div{ height: auto; }
.inner-boxleft-img-div .col-50 { width: 100%; display: flex; height: auto; }
.inner-boxleft-img-div .imgthumb-div { width: 100%; height: 220px; background-size: cover; }
.inner-boxleft-img-div .content-div{ padding: 50px 15px;max-width: 100%; }

.inner-boxright-img-section .inner-boxright-img-div3 .content-div{ padding: 50px 15px; }
.inner-boxright-img-section .inner-boxright-img-div3 .imgthumb-div { width: 100%; height: 220px; background-size: cover; }

.inner-boxright-img-section .inner-boxright-img-div-pre1 .content-div{ padding: 50px 15px; }
.inner-boxright-img-section .inner-boxright-img-div-pre1 .imgthumb-div { width: 100%; height: 220px; background-size: cover; }

.inner-boxright-img-section .inner-boxright-about1 .content-div{ padding: 50px 15px; }
.inner-boxright-img-section .inner-boxright-about1 .imgthumb-div { width: 100%; height: 220px; background-size: cover; }

.inner-boxleft-img-div.inner-boxright-img-div-pre2 .imgthumb-div { width: 100%; height: 270px; background-size: cover; }
.inner-boxleft-img-div.inner-boxright-img-div-pre2 .content-div{ padding: 50px 15px;max-width: 100%; }

/* faq-section */


/* end of faq-section */

.common-form-div .dollar-group span.input-group-text { font-size: 17px; }
.table-div .table thead th.width-td-150{ min-width: 170px; }
.utah-top-section .utah-top-div .center_title2 h3 {  font-size: 28px; line-height: 42px; }
.partner-logo-section .partner-logo-div .image-thumb-row { padding: 0px 0 0 0; }

.footer-row .bottom-row .d-flex.sponsored-logo-img-block { flex-direction: column; align-items: flex-start; }
.footer-row .bottom-row .leftside-footer p { font-size: 16px; line-height: 28px; margin: 0 0 5px 0; padding: 5px 0; }
.footer-row .bottom-row .rightside-footer p { padding: 0; margin: 20px 0 0px 0; font-size: 12px; line-height: 26px;}



/******* end of Inner Page CSS *********/

.common-form-div .amount-root { 
	.amount-box {
		width: 100%;
	}
}

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

	
	.middle-container { width: 100%; overflow: hidden; }

	.header-div .login-page-div .logo-div { padding: 30px 0px 10px 0; margin: 0; text-align: center;width: 100%; }
	.header-div .login-div { width: 100%; }
	.header-div .login-div .login-box .m-login-col{ width: 100%;margin: 0 0 10px 0;padding: 0; }
	.header-div .login-page-div { min-height: 415px; }


	/* mobile navigation start */

	.nav-div .closebtn { display:block;}
	.nav-m-bar{ position: absolute; top: 26px; right: 20px; z-index: 9999; }
	.nav-m-bar .menu-bars{ background:url(../images/icon/menubar.svg) no-repeat; width:21px; height:23px; display:inline-block; vertical-align:middle;}

	.header-div{ min-height: 75px; }
	.header-div .logo-div{  width: 60%;padding: 0; min-height: 75px;}
	.header-div .logo_img { width: 140px; height: 50px;}

	.header-div .nav-div { height: 100%;  width: 0;  position: fixed; z-index: 9999999; top: 0; right: 0; background-color: #734C28;  overflow-x: hidden;  padding-top: 70px; transition: 0.5s;  }
	.header-div .nav-div .closebtn { position: absolute; color: #fff; background: #734C28; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 28px; font-weight: 300; line-height: 35px; }
	.header-div .nav-div .closebtn:hover { color: #fff; }
	.header-div .nav-div ul li { width: 100%; margin: 0px 0 5px 0; padding: 5px 20px; }
	.header-div .ullist-inline { height: auto; }
	.header-div .body-listing { min-height: 100%; }
	.header-div .width80{ width: 350px; }
	.header-div .opacityon{ opacity: 1; }
	.header-div .displayblock{ display: block; }
	.header-div .top-nav1 { padding: 0px 0 0 0; min-height: 75px; }
	.header-div .ullist-inline li a {  color: #000000; }
	.header-div .banner-div .carousel-indicators li { height: 2px; }
	.header-div .ullist-inline li .nav-link{ color: #fff;font-weight: 500;font-size: 16px; }
	.header-div .ullist-inline li.active{ background-color: rgb(150, 98, 50); }
	.header-div .ullist-inline li.active .nav-link{ color: #fff; display: inline-block; border-color: transparent; }
	.header-div .nav-div ul li .social-ul > li{  padding: 0px 0px;margin: 0 15px 0 0;  width: auto; }
	.header-div .nav-div ul li .social-ul > li a { color: #734C28; background-color: #ffffff; }
	.header-div .ullist-inline { margin: 0 0px 0 0; min-height: auto; }
	.header-div .social-ul > li > a { height: 35px; width: 35px; line-height: 35px; font-size: 18px; }
	.fixed_top.header-div .ullist-inline li .nav-link { color: #ffffff; }
	.fixed_top{ transform: none; animation: none; }
	.header-div{ transform: none; }
	.header-div .social-icon-div { position: absolute; bottom: 20px; }

	/* End of navigation */

	/* banner & top title */

	/* End of banner */

	.main-banner-section.pt-86{ padding-top: 75px !important; }
	.inner-banner-section.pt-86{ padding-top: 75px !important; }
	.middle-container.pt-86{ padding-top: 75px !important; }


	.main-banner-section .main-banner-div{ height: calc(100vh - 75px); }
	.main-banner-section .main-banner-div .video-banner-div{ height: calc(100vh - 75px); }
	.main-banner-section .main-banner-div .video-banner-div iframe.video-banner{ height: calc(100vh - 75px); }
	.main-banner-section .main-banner-div .center_title{ max-width:560px; }  
	.main-banner-section .main-banner-div .center_title h1 { font-size: 36px; line-height: 48px; }

	.boxleft-img-section .boxleft-img-div{ height: auto; }
	.boxleft-img-div .col-50 { width: 100%; display: flex; height: auto; }
	.boxleft-img-div .imgthumb-div { width: 100%;  height: 400px; background-size: cover; }
	.boxleft-img-div .content-div{ padding: 50px 15px;max-width: 100%; }

	.boxright-img-section .boxright-img-div{ height: auto; height: auto; display: flex; flex-direction: column; }
	.boxright-img-div .col-50 { width: 100%; display: flex; height: auto; }
	.boxright-img-div .col-50.left-div { order: 2; }
	.boxright-img-div .imgthumb-div { width: 100%; height: 400px; background-size: cover; }
	.boxright-img-div .content-div{ padding: 50px 15px;max-width: 100%; }

	.sae-section .sae-div { padding: 50px 50px; }
	.sae-div .bluebox-div{ max-width: 100%;padding: 50px 20px; }
	.sae-div .bluebox-div .content-div{ padding: 0; }
	.sae-div .bluebox-div .content-div p { margin: 0 0 20px 0; font-size: 16px; line-height: 28px; }
	.sae-div .bluebox-div .content-div h3 { font-size: 28px; }

	.contact-box-section .contact-box-div { height: auto; height: auto; display: flex; flex-direction: column; }
	.contact-box-div .col-50 { width: 100%; display: flex; height: auto; }
	.contact-box-div .col-50.left-div { order: 2; }
	.contact-box-div .imgthumb-div { width: 100%; height: 500px; background-size: cover; }
	.contact-box-div .content-div{ padding: 50px 15px;max-width: 100%; }
	.contact-box-div .content-div p{ padding: 0 0 0 0; }
	.contact-box-div .content-details-div .custom_icon:before { font-size: 18px; }
	.contact-box-div .content-details-div .custom_icon.email_icon:before { font-size: 18px; }
	.contact-box-div .content-details-div .span-txt {  padding-left: 0; }
	.contact-box-div .content-details-div .contact-link { font-size: 16px; }
	.contact-box-div .content-details-div .contact-row {  margin: 0 0 10px 0; }

	.contact-box-div .form-div .form-group{ margin: 0 0 0 0; }
	.contact-box-div .form-div .input-email { height: 50px; padding: 10px 100px 10px 15px; font-size: 16px; }
	.contact-box-div .form-div .btn-send { height: 50px; padding: 10px 20px; font-size: 16px; }

	.giving-section .center_title h2 { font-size: 30px; line-height: 42px; }

	.footer-row .left-link-row .footer-nav .vertical-line{ display: none; }
	.footer-row .left-link-row .footer-nav { padding: 0px;     width: 65%; }
	.footer-row .left-link-row .footer-nav li { padding: 5px 0px; display: block; width: 50%; }
	.footer-row .left-link-row .footer-nav li .footer-link { line-height: 28px; font-size: 18px; padding: 0; }
	.footer-row .left-link-row .footer-nav li:first-child .footer-link { padding: 0; }
	.footer-row .left-link-row .footer-social-ul{ float: left;margin: 0 0 20px 0; }
	.footer-row .left-link-row { padding: 50px 15px; }

	.footer-row .bottom-row{ max-width: 100%;padding: 15px 15px 15px 15px; }
	.footer-row .bottom-row .leftside-footer{ width: 100%;margin: 0 0 0px 0; }
	.footer-row .bottom-row .rightside-footer{ width: 100%; }
	.footer-row .bottom-row .rightside-footer p { justify-content: flex-start; align-items: center;    min-height: auto; }

	/******* Inner Page CSS *********/

	.inner-boxright-img-section .inner-boxright-img-div{ height: auto; height: auto; display: flex; flex-direction: column; }
	.inner-boxright-img-div .col-50 { width: 100%; display: flex; height: auto; }
	.inner-boxright-img-div .col-50.left-div { order: 2; }
	.inner-boxright-img-div .imgthumb-div { width: 100%; height: 400px; background-size: cover; }
	.inner-boxright-img-div .content-div{ padding: 50px 15px;max-width: 100%; }

	.inner-boxleft-img-section .inner-boxleft-img-div{ height: auto; }
	.inner-boxleft-img-div .col-50 { width: 100%; display: flex; height: auto; }
	.inner-boxleft-img-div .imgthumb-div { width: 100%; height: 400px; background-size: cover; }
	.inner-boxleft-img-div .content-div{ padding: 50px 15px;max-width: 100%; }

	.inner-boxright-img-section .inner-boxright-img-div3 .content-div{ padding: 50px 15px; }
	.inner-boxright-img-section .inner-boxright-img-div3 .imgthumb-div { width: 100%; height: 400px; background-size: cover; }

	.inner-boxright-img-section .inner-boxright-img-div-pre1 .content-div{ padding: 50px 15px; }
	.inner-boxright-img-section .inner-boxright-img-div-pre1 .imgthumb-div { width: 100%; height: 450px; background-size: cover; }

	.inner-boxright-img-section .inner-boxright-about1 .content-div{ padding: 50px 15px; }
	.inner-boxright-img-section .inner-boxright-about1 .imgthumb-div { width: 100%; height: 450px; background-size: cover; }

	.inner-boxleft-img-div.inner-boxright-img-div-pre2 .imgthumb-div { width: 100%; height: 500px; background-size: cover; }
	.inner-boxleft-img-div.inner-boxright-img-div-pre2 .content-div{ padding: 50px 15px;max-width: 100%; }

	/******* end of Inner Page CSS *********/

	.table-div .table thead th.width-td-150{ min-width: 170px; }

	.footer-row .bottom-row .leftside-footer { width: 50%; }
	.footer-row .bottom-row .rightside-footer { width: 50%; }
	.footer-row .bottom-row .leftside-footer p { font-size: 16px; line-height: 28px; margin: 0 0 5px 0; }
	.footer-row .bottom-row .rightside-footer p { padding: 0; text-align: right;     align-items: flex-end; justify-content: flex-end; margin: 20px 0 0px 0; font-size: 12px; line-height: 26px;}


}	


@media only screen and (min-width: 1025px) and (max-width:1450px) {

	.boxright-img-div .content-div { padding: 0 40px; max-width: 600px; }
	.contact-box-div .content-div{ padding: 0 40px; max-width: 600px; }
	.footer-row .left-link-row { max-width: 1200px; }	
	.footer-row .bottom-row { max-width: 1200px; }	
	// .footer-row .bottom-row .rightside-footer p { min-height: 100px; }
}


@media only screen and (min-width: 1024px) and (max-width: 1366px)
{

	

}

@media only screen and (min-width: 1920px)
{		
	/* body { max-width: 1920px; }
	.header-div .inner-top-header-div { margin: 0 auto; max-width: 1920px; } */
}